@model AddProductModel

@{
    ViewData["Title"] = "Add Product";
}

<h3>Add Product</h3>

@if(TempData["Error"] != null)
{
    <span class="text-danger">@TempData["Error"]</span>
}

<div>
    <form method="post" asp-controller="Product" asp-action="Create">
        <div>
            <label for="firstName" asp-for="Name" class="form-label"></label>
            <input id="firstName" asp-for="Name" class="form-control"/>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div>
            <label for="description" asp-for="Description" class="form-label">Description</label>
            <textarea id="description" asp-for="Description" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div>
            <label for="category" asp-for="CategoryId" class="form-label"></label>
            <select class="form-control" asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "Name"))">
                <option value="">--- select a category ---</option>
            </select>
            <span class="text-danger" asp-validation-for="CategoryId"></span>
        </div>

        <div>
            <label for="price" asp-for="Price" class="form-label">Price</label>
            <input id="price" asp-for="Price" class="form-control" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div>
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-warning" type="reset">Reset</button>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
