@model EditProduct

@{
    ViewData["Title"] = "Edit";  
}

<h3>Edit product</h3>

<div>
    <form method="post" asp-controller="Product" asp-action="SaveEdit" asp-route-id="@Model.Id">
        <div>
            <label for="firstName" asp-for="Name" class="form-label"></label>
            <input id="firstName" asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div>
            <label for="description" asp-for="Description" class="form-label">Description</label>
            <textarea id="description" asp-for="Description" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div>
            <label for="category" asp-for="Category" class="form-label">Category</label>
            <input id="category" asp-for="Category" class="form-control" />
            <span class="text-danger" asp-validation-for="Category"></span>
        </div>

        <div>
            <label for="price" asp-for="Price" class="form-label">Price</label>
            <input id="price" asp-for="Price" class="form-control" />
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>
        <div>
            <button class="btn btn-success" type="submit">Save</button>
            <button class="btn btn-warning" type="reset">Reset</button>
        </div>
    </form>
</div>
